#header, h3, h1, p, u, label, .addendum{
	color: #070707;
	font-family: Arial;
}
.code-border {
	border: 3px solid #070707;
}
.w {
	color: #070707;
}
.r {
	color: #FE4240;
}
.g {
	color: #42FE40;
}
.y {
	color: #d5b942;
}
.b {
	color: #708dff;
}
.p {
	color: #FE04AA;
}
button {
	border-radius: 10px;
	background-color: #d5b942;
	border: none;
	color: white;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.header{
	font-size: 40px;
}
.button{
	color: #FEFEFE;
	height: 50px;
	padding-right: 60px;
}
.button:hover{
	 background-color: #D9D375;
}
body {
	background-color: #FEFEFE;
}
#header{
	background-color: #070707;
}
.addendum{
	font-size: 20;
	color: #d5b942;
}
.addendum:hover{
	color: #D9D375;
}
#buttons{
	float: right;
	position: absolute;
	top:10px;
	left: 600px;
}
.header{
	border-radius: 25px;
	border: 5px solid #D9D375;
	background-color: #FEFEFE;
	padding: 20px;
	width: 500px;
	height: 30px;
}
#bottom{
	background-color: #070707;
	position: absolute;
	bottom:0px;
	width: 1350px;
}
.blk{
	font-family: Arial;
	color: #FEFEFE;
}
.lnk{
	font-family: Arial;
	font-size: 18px;
}

.header-logo{
	width: 50px;
	border: 5px solid #FEFEFE;
	border-radius: 35%
}